<h1>Listing Clients</h1>
<%= link_to'New Client', new_client_path%>
<table>
    <tr>
        <th>Name</th>
        <th>Case Descritpion</th>
    </tr>
    <% @client.each do |client| %>
    <tr>
        <td><%= link_to client.Name, client_path(client) %></td>
        <td><%= client.Case_Description %></td>
       
    </tr>
    <%end%>
 

    
   
    
    
</table>