<p>
    <strong>Name:</strong>
    <%= @client.Name %>
</p>

<p>
    <strong>Court Date:</strong>
    <%= @client.Court_Date %>
</p>
<p>
    <strong>Case Description:</strong>
    <%= @client.Case_Description %>
</p>