<p>
    <strong>Name:</strong>
    <%= link_to bill.name, client_bill_url(bill.client, bill)%>
</p>

<p>
    <strong>Date:</strong>
    <%= bill.date %>
</p>

<p>
    <strong>Total:</strong>
    <%= bill.Total %>
</p>
<br>




   