

            <tr>
                <td><%= link_to bill.name, client_bill_url(bill.client, bill)%></td>
                <td><%= bill.date %></td>
                <td><%= bill.Total %></td>
            </tr>
 


   