// Place all the styles related to the Bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea{
    width:70%;
    height: 200px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
    
}